@import "variables";

:host {
  display: block;
  background: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-container-width-large + 50px;
  margin: 0 auto;
  padding: 0 15px;
  color: white;
}

laputa-brand {}

.analysis {
  font-size: 13px;
  color: $light-4;
  transition: .3s;
  &:hover {
    color: $primary;
  }
}
