:host {
  display: block;
  background: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
}

laputa-brand {
  flex: 1;
}
