<div class="main" *ngIf="queryGames || (featuredGames && latestGames); else loading">
  <div class="content">
    <section *ngIf="!isGamesLoading; else gameLoading">
      <ng-container *ngIf="shouldDisplayLandingGames">
        <div class="latest-games">
          <laputa-game-list caption="最近更新" [games]="latestGames"></laputa-game-list>
        </div>
      </ng-container>
      <ng-container *ngIf="!shouldDisplayLandingGames">
        <laputa-game-list [caption]="queryCaption" [count]="queryCount" [games]="queryGames">
        </laputa-game-list>
        <laputa-pagination [total]="queryCount" [perPage]="perPage"
                           [current]="queryPage" (pageSelect)="onPageSelect($event)"></laputa-pagination>
      </ng-container>
    </section>
    <ng-template #gameLoading>
      <laputa-spinner></laputa-spinner>
    </ng-template>
  </div>
</div>

<ng-template #loading>
  <laputa-spinner></laputa-spinner>
</ng-template>


