@import "variables";

:host {
  display: block;
  width: 25%;
}

.tile {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  padding: 0 15px 20px;
  background: $dark-0;
  border: 1px solid transparent;
  border-radius: 6px;
  color: $light-2;

  &:hover{
    text-decoration: none;

    .extra-information {
      top: -5px;
    }
  }

  &:active {
    transform: scale(0.8);
  }
}

.basic-information {
  position: relative;
  margin: 0 -20px;
  height: 250px;
}

.basic-information:before {
  z-index: 1;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: rgba(0,0,0, .6);
  background: linear-gradient(0deg, rgba(0,0,0,0.7) 20%, rgba(255,255,255,0) 100%);
}

.platforms-and-rating {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
}

.platforms {
  display: flex;
}

.completed {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 2px 5px;
  background: rgba(0,0,0, .5);
  border-radius: 4px;
  color: $loading-color-green;
  font-size: 11px;
}

.completed-label {
  margin-left: 3px;
}

.extra-information {
  position: relative;
  top: 0;
  margin-top: 20px;
  transition: all 0.2s ease;
}

.name {
  color: $light-4;
  font-size: 18px;
}

.genres {
  margin-top: 4px;
  color: $light-2;
  font-size: 16px;
}

.flags {
  margin-top: 4px;
}

.chinese,
.format,
.featured {
  display: inline-block;
  margin-right: 5px;
  padding: 2px;
  border: 1px solid;
  border-radius: 2px;
  line-height: 1;
  font-size: 12px;
  opacity: .6;
}

.chinese {
  color: $loading-color-red;
  border-color: $loading-color-red;
}

.format.physical {
  color: $loading-color-yellow;
  border-color: $loading-color-yellow;
}

.format.digital {
  color: $loading-color-blue;
  border-color: $loading-color-blue;
}

.featured {
  color: $loading-color-green;
  border-color: $loading-color-green;
}
