<a class="tile" [routerLink]="['/games', game.sys.id]">
  <div class="basic-information">
    <laputa-game-cover [cover]="game.fields.cover"></laputa-game-cover>
    <div class="platforms-and-rating">
      <div class="platforms">
        <laputa-game-platform *ngFor="let platform of game.fields.platforms"
                              [name]="platform.fields.label"></laputa-game-platform>
      </div>
      <laputa-game-rating *ngIf="game.fields.rating" [rating]="game.fields.rating"></laputa-game-rating>
    </div>
    <div class="completed" *ngIf="game.fields.completed" title="已通关">
      <fa-icon [icon]="['far', 'check-circle']"></fa-icon>
      <span class="completed-label">已通关</span>
    </div>
  </div>

  <div class="extra-information">
    <h3 class="name">
      {{ game.fields.name }}
    </h3>

    <div class="genres">
      <laputa-game-genre [genre]="genre.fields.label" [isLast]="isLast"
                         *ngFor="let genre of game.fields.genres; let isLast = last"></laputa-game-genre>
    </div>

    <div class="flags">
      <span class="chinese" *ngIf="game.fields.chinese">中文</span>
      <span class="format physical" *ngIf="!game.fields.digital">实体卡</span>
      <span class="featured" *ngIf="game.fields.featured">推荐</span>
    </div>
  </div>
</a>
