$primary: #23C4F8;
$secondary: #8C6FF0;

$body-text: #99A3BA;
$body-bg-color: #171C28;

$platform-color-nintendo-switch: #E60012;
$platform-color-xbox: #107c10;
$platform-color-steam: #136c9e;

$loading-color-yellow: #F6D87C ;
$loading-color-green: #57CA81;
$loading-color-red: #D04863;
$loading-color-blue: #23C4F8;
