<main class="dark-charts">
  <section class="games-group-by-platforms" *ngIf="gamesGroupByPlatforms.length > 0">
    <h2>游戏平台分布</h2>
    <div class="charts">
      <div class="games-group-by-platforms-all-chart">
        <ngx-charts-number-card
          cardColor="#232837"
          [results]="gamesForChart"></ngx-charts-number-card>
      </div>
      <div class="games-group-by-platforms-chart">
        <ngx-charts-bar-vertical
          [xAxis]="true"
          [yAxis]="true"
          [showDataLabel]="true"
          [roundEdges]="false"
          [results]="gamesGroupByPlatforms"></ngx-charts-bar-vertical>
      </div>
    </div>
  </section>

  <section class="games-group-by-genres" *ngIf="gamesGroupByGenres.length > 0">
    <h2>游戏风格分布</h2>
    <ngx-charts-bar-horizontal
      [xAxis]="true"
      [yAxis]="true"
      [showDataLabel]="true"
      [roundEdges]="false"
      [results]="gamesGroupByGenres"></ngx-charts-bar-horizontal>
  </section>

  <section class="games-completed">
    <h2>通关比例</h2>
    <div class="charts">
      <div class="games-completed-chart"  *ngIf="gamesGroupByCompleted.length > 0">
        <ngx-charts-pie-chart
          [labels]="true"
          [labelFormatting]="completedChartLabelFormat"
          [results]="gamesGroupByCompleted">
        </ngx-charts-pie-chart>
      </div>
      <div class="games-completed-platforms-chart" *ngIf="gamesGroupByCompletedAndPlatforms.length > 0">
        <ngx-charts-pie-grid [results]="gamesGroupByCompletedAndPlatforms"></ngx-charts-pie-grid>
      </div>
    </div>
  </section>
</main>


