@import "variables";

:host {
  display: block;
}

.pagination ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.pagination-item {
  margin: 5px;
  padding: 5px 15px;
  font-size: 13px;
  background: $dark-1;
  text-decoration: none;
  border-radius: 4px;
  color: $light-3;
  cursor: pointer;

  &:hover {
    color: white;
    background: $dark-0;
  }

  &.active {
    transform: scale(1.1);
    color: white;
    cursor: default;
    background: none;
  }
}
