@import "variables";

:host {
  display: inline-block;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.platform {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: white;
  border-radius: 2px;
}

.platform ::ng-deep {
  .icon {
    padding: 1px 3px;
  }

  .image {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.wegame ::ng-deep .image {
  background-image: url('/assets/images/wegame.svg');
}
