<div class="platforms">
  <ul *ngIf="platforms$ | async as platforms">
    <li *ngFor="let platform of platforms">
      <a routerLink="/games" [queryParams]="{ platform: platform.slug }"
         (click)="onPlatformSelected(platform.slug)"
         [class.active]="platform.slug === queryPlatform">
        <laputa-game-platform-icon [platformName]="platform.name"></laputa-game-platform-icon>
        <span class="label">{{ platform.label }}</span>
        <span class="remove" *ngIf="platform.slug === queryPlatform">&times;</span>
      </a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
