@import "variables";
@import "mixins";

.platforms {
  background-color: $dark-2;
  border-bottom: 1px solid $dark-0;

  ul {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    max-width: $max-container-width-large;

    @include respond-to(tablet-mobile) {
      overflow: auto;
    }
  }

  a {
    display: flex;
    align-items: center;
    margin: 10px 8px 10px 0;
    padding: 6px 10px;
    white-space: nowrap;
    color: $light-4;
    border-radius: 4px;
    transition: .2s ease;
    text-decoration: none;

    &:hover,
    &.active {
      color: $active;
      background: $dark-0;
    }
  }

  .label {
    margin-left: 5px;
    flex: 1;
  }

  .active .remove {
    margin-left: 15px;
    color: $active;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
  }
}
