/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";
@import "~@angular/cdk/overlay-prebuilt.css";
@import "~load-awesome/css/ball-fussion.css";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,:after,:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

::selection {
  color: white;
  background: $primary;
}

body {
  font: 14px/1.6 Barlow, 'Noto Sans SC', -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $body-text;
  background: $body-bg-color;
}

a {
  color: $primary;
  text-decoration: none;
  transition: .2s ease;

  &:hover {
   text-decoration: underline;
  }
}

ul { list-style: none; }

.laputa-bootstrapping {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .la-ball {
    & > div:nth-child(1) { color: $loading-color-red; }
    & > div:nth-child(2) { color: $loading-color-green; }
    & > div:nth-child(3) { color: $loading-color-blue; }
    & > div:nth-child(4) { color: $loading-color-yellow; }
  }
}

table {
  width: 100%;
  background-color: $dark-2;
  border-collapse: collapse;
  text-align: left;

  tr {
    transition: .2s ease;

    &:nth-of-type(odd) {
      background: $dark-3;
    }

    &:hover {
      background-color: $dark-1;
    }
  }

  th, td {
    padding: 10px;
    border: 1px solid $dark-0;
  }

  th {
    text-transform: uppercase;
    background-color: $dark-0;
  }

  td + td { width: auto; }
}

.text-center { text-align: center; }

.platform-nintendo-switch { color: $platform-color-nintendo-switch; }
.platform-steam { color: $platform-color-steam; }
.platform-xbox-one { color: $platform-color-xbox; }
.platform-ios { color: $platform-color-ios; }

.g-backdrop.g-backdrop {
  background-color: rgba(255, 255, 255, .15);
}
