/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";
@import "~load-awesome/css/ball-newton-cradle.css";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,:after,:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

::selection {
  color: white;
  background: $primary;
}

body {
  font: 14px/1.6 -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $body-text;
  background: $body-bg-color;
}

a {
  color: $primary;
  text-decoration: none;
  transition: .2s ease;

  &:hover {
   text-decoration: underline;
  }
}

.tabular-number {
  font-family: 'Titillium Web', monospace;
}

.laputa-bootstrapping {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .la-ball-newton-cradle {
    & > div:nth-child(1) { color: $loading-color-yellow; }
    & > div:nth-child(2) { color: $loading-color-green; }
    & > div:nth-child(3) { color: $loading-color-red; }
    & > div:nth-child(4) { color: $loading-color-blue; }
  }
}
