@import "variables";

:host {
  display: block;
}

.headline {
  margin: 40px 0;
  text-align: center;
  color: $light-4;
}

.caption {
  font-size: 26px;
  font-weight: 300;
}

.count {
  color: $light-2;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.list-empty {
  position: relative;
  padding: 30px;
  text-align: center;
  color: $light-2;

  img {
    max-width: 600px;
    opacity: .3;
  }

  p {
    margin-top: 15px;
  }
}

laputa-game-tile {
  padding: 15px 30px 15px 0;

  &:nth-child(4n) {
    padding-right: 0;
  }
}
