@import "variables";
@import "mixins";

:host {
  display: block;
}

.headline {
  margin: 40px 15px;
  text-align: center;
  color: $light-4;
}

.caption {
  font-size: 26px;
  font-weight: 300;
}

.count {
  color: $light-2;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.list-empty {
  position: relative;
  padding: 30px;
  text-align: center;
  color: $light-2;

  img {
    max-width: 600px;
    opacity: .3;
  }

  p {
    margin-top: 15px;
  }
}

laputa-game-tile {
  margin: 0 15px 30px 15px;

  @include respond-to(desktop) {
    width: calc(25% - 30px);
  }

  @include respond-to(tablet) {
    width: calc(50% - 30px);
  }

  @include respond-to(mobile) {
    width: calc(100% - 30px);
  }

}
