@import "variables";

.main {
  display: flex;
}

aside {
  margin-top: 40px;
  padding: 0 20px;
  width: 240px;

  h3 {
    margin-top: 20px;
    &:first-child { margin-top: 0; }
  }

  ul {
    margin-top: 10px;
  }

  li {
    margin: 2px 0;
  }

  a {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 4px 10px;
    color: $body-text;
    border-radius: 4px;
    background: rgba($dark-3, 0.2);
    transition: .2s ease;
    text-decoration: none;

    &:hover,
    &.active {
      color: white;
      background: $primary;
    }
  }

  .label {
    margin-left: 5px;
    flex: 1;
  }

  .active .remove {
    align-self: flex-end;
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
  }
}

.content {
  flex: 1;
  position: relative;
  margin: 40px 10px 0;
  min-height: calc(100vh - 100px);
}

.content ::ng-deep {
  laputa-game-tile {
    padding: 15px;
  }

  .tile {
    padding: 0 15px 15px;
  }

  .basic-information {
    height: 200px;
  }

  .extra-information {
    margin-top: 15px;
  }
}

.featured-games {
}

.latest-games {
  margin-top: 40px;
}
