@import "variables";

.nav-item {
  position: relative;
  display: flex;
  align-items: stretch;
  padding: 0 20px;
}

::ng-deep {
  .nav-item-trigger {
    display: flex;
    align-items: center;
    outline: none;
    color: $body-text;
    cursor: pointer;
    background: none;
    border: none;

    span {
      margin-right: 5px;
    }
  }

  fa-icon {
    transition: .2s ease;
  }

  .trigger-label {
    margin-left: 5px;
  }

  .nav-children {
    position: absolute;
    z-index: -1;
    top: 50px + 10px;
    left: 0;
    padding: 10px 0;
    background: #000;
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    transition: .2s ease;
    opacity: 0;
  }

  .nav-children-item {
    margin: 2px 0;
  }

  .nav-children-link {
    display: flex;
    align-items: center;
    padding: 4px 18px;
    white-space: nowrap;
    color: $body-text;
    transition: .2s ease;

    &:hover {
      color: white;
      background: $primary;
      text-decoration: none;
    }
  }

  .nav-children-link-icon {
    margin-right: 5px;
  }
}

.nav-item-active ::ng-deep {
  .nav-item-trigger {
    color: $primary;
  }

  fa-icon {
    transform: rotate(180deg);
  }

  .nav-children {
    top: 50px;
    opacity: 1;
    z-index: 1000;
  }
}

