@import "variables";

nav {}

nav a {
  text-decoration: none;
}

nav .nav {
  display: flex;
  align-items: stretch;
  height: 50px;
}

nav li,
nav ::ng-deep li {
  list-style: none;
}


@import "nav-item";
